<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <title>COOKSY</title>
</head>
<body>
  <nav>
    <a href="/">HOME</a>
    <div>
      <a href="/recipes">EXPLORE GLOBAL RECIPES</a>
      <% if (user) { %>
        <a href="/users">COOKSY COMMUNITY</a>
        <a href="/recipes/new">ADD A RECIPE</a>
        <a href="/favorites">MY FAVS</a>
        <a href="/users/<%= user._id %>">MY COOKBOOK</a>
        <a href="/auth/sign-out">SIGN OUT</a>
        <span>
          <img src="<%= user.image || '/images/Stockprofile.png' %>" alt="Profile-pic" class="profile-pic" />
          CHEF: <%= user.name.toUpperCase() %>
        </span>
      <% } else { %>
        <a href="/auth/sign-up">SIGN UP</a>
        <a href="/auth/sign-in">SIGN IN</a>
      <% } %>
    </div>
  </nav>
  <main>
