<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet"> 
<title>COOKSY</title>
</head>
<body>
  <nav>
    <a href="/">HOME</a>
    <span class="site-name">Cooksy</span>
    <div>
      <a href="/recipes">EXPLORE RECIPES</a>
      <% if (user) { %>
        <a href="/users">COOKSY COMMUNITY</a>
        <a href="/recipes/new">ADD A RECIPE</a>
        <a href="/favorites">MY FAVS</a>
        <a href="/users/<%= user._id %>">MY COOKBOOK</a>
        <a href="/auth/sign-out">SIGN OUT</a>
        <span>
      <% if (user) { %>
        <% const encodedSeed = encodeURIComponent(user.name); %>
          <img 
            src="https://api.dicebear.com/9.x/fun-emoji/svg?seed=<%= encodedSeed %>&backgroundColor=009d80&eyes=closed,closed2,cute,glasses,love,pissed,plain,sad,shades,sleepClose,stars&mouth=cute,drip,lilSmile,pissed,plain,sad,shout,shy,sick,smileLol,smileTeeth,tongueOut,wideSmile" 
            alt="Profile-pic"
            class="profile-pic"
          />
      <% } else { %>
          <img 
            src="/images/Stockprofile.png"
            alt="Default Profile-pic"
            class="profile-pic"
          />
      <% } %>
          CHEF: <%= user.name.toUpperCase() %>
        </span>
      <% } else { %>
        <a href="/auth/sign-up">SIGN UP</a>
        <a href="/auth/sign-in">SIGN IN</a>
      <% } %>
    </div>
  </nav>
  <main>
