<body>
<%- include('../partials/header.ejs') %>

<h1>Explore The COOKSY Community</h1>

  <div>
      <% users.forEach(user => { %>
        <div class="user card">
            <img src="<%= user.image || '/images/Stockprofile.png' %>" alt="Profile" class="profile-pic" />
            <a href="/users/<%= user._id %>"><%= user.name %></a>
        </div>
      <% }) %>
  </div>  
</body>
</html>